<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de jogadores de Tibia</title>

    <link rel="stylesheet" href="../css/users.css">
</head>
<body>
    <header>
        <a href="../index.html">Back to Homepage</a>
    </header>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <!-- Vamos inserir as linhas aqui dinamicamente via JS -->
            </tbody>
        </table>
    </section>
</body>
</html>