<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de jogadores de Tibia</title>

    <link rel="stylesheet" href="../css/users.css">
</head>
<body>
    <header>
        <a href="../index.html">Back to Homepage</a>
    </header>
    <section>
        <table>
            <thead>
                <tr>
                <!-- Cada tr é uma coluna de uma tabela -->
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <!-- Vamos inserir as linhas aqui dinamicamente via JS -->
            </tbody>
        </table>
    </section>

    <script>
        const tableBody = document.querySelector("section table tbody")
        /*  Seleciona um elemento do teu html atraves de um seletor (entre áspas)
            Para selecionar uma classe deve-se colocar um "." (ponto) antes da classe i.e ".user-form" */
        fetch("http://localhost:5000/users")
            .then(res => res.json())
            .then(json => {
                console.log(json);
                json.forEach(user => {
                    let tr = document.createElement("tr") //criou uma nova table row (igual fizemos antes no head)
                    let tdName = document.createElement("td") //criou uma table data pro nome (vai entrar nas colunas da table)
                    let tdEmail = document.createElement("td") //criou uma table data pro email (vai entrar nas colunas da table)


                    tdName.innerHTML = user.name
                    tdEmail.innerHTML = user.email

                    tr.appendChild(tdName)
                    tr.appendChild(tdEmail)
                    tableBody.appendChild(tr)
                })
            })
    </script>

</body>
</html>